/* -----global rules----- */

body {
    background-color: black;
}
.App {
    margin-left: 50px;
}
h1 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}

/* ----- HEADER ----- */

header img {
    width: 360px;
    height: 120px;
    object-fit: cover;
    margin-left: -58px;
}

/* ----- MAIN ----- */
.sections > div {
    margin-bottom: 45px;
}
.picture {
    height: 125px;
    background-color: #fff;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}
.film {
    height: 125px;
    object-fit: cover;
}
